.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 0px;
  min-width: 0;
}
.mnHeader {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Kadwa", serif;
  text-align: center;
  min-width: 0;
}
